<div class="container">
    <div class="row">
        <div class="fw-semibold fs-3">
            Payment

        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-8">
            
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <div class="">
                                <i class="bi bi-patch-check me-2"></i>  Bank Offer
                            </div>
                            <div class="showmore"> Show more </div>
                        </button>
                        
                      </h2>
                      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <ul class="offer">
                                <li class="offer-item">  10% Instant Discount on ICICI Bank Credit and Debit Cards on a min spend of ₹3,500. TCA    
                                </li>
                            </ul>
                        </div>
                      </div>
                    </div>
                </div>
         
            <div class="fw-semibold mt-2">
                Choose Payment Mode
            </div>
            <div class="card mt-2">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class=" fw-semibold">
                                <div class="nav flex-column nav-pills me-3 " id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                    <button class="nav-link active" id="v-pills-recommanded-tab" data-bs-toggle="pill" data-bs-target="#v-pills-recommanded" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true"> 
                                        <div class="row">
                                            <div class="col-2">
                                                <i class="bi bi-star"></i> 
                                            </div>
                                            <div class="col text-start">
                                                Recommanded
                                            </div>
                                        </div>
                                    </button>
                                    <button class="nav-link" id="v-pills-cod-tab" data-bs-toggle="pill" data-bs-target="#v-pills-cod" type="button" role="tab" aria-controls="v-pills-cod" aria-selected="false">
                                        <div class="row">
                                            <div class="col-2">
                                                <i class="bi bi-cash-stack"></i> 
                                            </div>
                                            <div class="col text-start">
                                                Cash On Delivery
                                            </div>
                                        </div>
                                    </button>
                                    <button class="nav-link" id="v-pills-upi-tab" data-bs-toggle="pill" data-bs-target="#v-pills-upi" type="button" role="tab" aria-controls="v-pills-upi" aria-selected="false">
                                        <div class="row">
                                            <div class="col-2">

                                                <i class="bi bi-paypal"></i> 
                                            </div>
                                            <div class="col text-start">
                                                UPI

                                            </div>
                                        </div>
                                    </button>
                                    <button class="nav-link" id="v-pills-creditcard-tab" data-bs-toggle="pill" data-bs-target="#v-pills-creditcard" type="button" role="tab" aria-controls="v-pills-creditcard" aria-selected="false"> 
                                        <div class="row">
                                            <div class="col-2">

                                                <i class="bi bi-credit-card"></i> 
                                            </div>
                                            <div class="col text-start">
                                                Credit/Debit Card

                                            </div>
                                        </div>
                                    </button>
                                    <button class="nav-link" id="v-pills-paylater-tab" data-bs-toggle="pill" data-bs-target="#v-pills-paylater" type="button" role="tab" aria-controls="v-pills-paylater" aria-selected="false">
                                        <div class="row">
                                            <div class="col-2">

                                                <i class="bi bi-wallet2"></i> 
                                            </div>
                                            <div class="col text-start">

                                                Paylater/wallet
                                            </div>
                                        </div> 
                                        </button>
                                    <button class="nav-link" id="v-pills-netbanking-tab" data-bs-toggle="pill" data-bs-target="#v-pills-netbanking" type="button" role="tab" aria-controls="v-pills-netbanking" aria-selected="false"> 
                                        <div class="row">
                                            <div class="col-2">
                                                <i class="bi bi-globe"></i> 

                                            </div>
                                            <div class="col text-start">

                                                NetBanking
                                            </div>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="tab-content" id="v-pills-tabContent">
                                <div class="tab-pane fade show active" id="v-pills-recommanded" role="tabpanel" aria-labelledby="v-pills-recommanded-tab" tabindex="0">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                        <label class="form-check-label" for="flexRadioDefault1">
                                          ICIC Credit Card
                                        </label>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="v-pills-cod" role="tabpanel" aria-labelledby="v-pills-cod-tab" tabindex="0">
                                    <div class="paytext">
                                        Cash On Delivery

                                    </div>  
                                    <div class="mt-5 text-center    ">

                                        <button class="btn btn-custom " type="button"> Place Order</button>
                                    </div> 
                                </div>
                                <div class="tab-pane fade" id="v-pills-upi" role="tabpanel" aria-labelledby="v-pills-upi-tab" tabindex="0">
                                    <div class="paytext mt-1">
                                        UPI
                                    </div>
                                    <div class="">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                            <label class="form-check-label" for="flexRadioDefault1">
                                              PhonePay
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                                            <label class="form-check-label" for="flexRadioDefault2">
                                              GooglePay
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                            <label class="form-check-label" for="flexRadioDefault1">
                                              Enter UPI ID
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="v-pills-creditcard" role="tabpanel" aria-labelledby="v-pills-creditcard-tab" tabindex="0">
                                    <div class="paytext mt-1 mb-2">
                                        Credit/Debit Card
                                    </div>
                                    <div class="">
                                        <div class="card">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="form-floating mb-3">
                                                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                                                        <label for="floatingInput">Card Number</label>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-floating mb-3">
                                                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                                                        <label for="floatingInput">Name</label>
                                                      </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="form-floating mb-3">
                                                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                                                        <label for="floatingInput">Valid Thru</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-floating mb-3">
                                                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                                                        <label for="floatingInput">Cvv</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 text-center">
                                                    <button class="btn btn-custom" type="button"> Place Order </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="v-pills-paylater" role="tabpanel" aria-labelledby="v-pills-paylater-tab" tabindex="0">
                                    <div class="paytext mt-1">
                                        Paylater/wallet
                                    </div>
                                    <div class="">

                                    </div>
                                </div>
                                <div class="tab-pane fade" id="v-pills-netbanking" role="tabpanel" aria-labelledby="v-pills-netbanking-tab" tabindex="0">
                                    <div class="paytext mt-1">
                                        NetBanking
                                    </div>
                                    <div class="">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                            <label class="form-check-label" for="flexRadioDefault1">
                                              Axix
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                                            <label class="form-check-label" for="flexRadioDefault2">
                                              HDFC
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                            <label class="form-check-label" for="flexRadioDefault1">
                                              SBI
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header fw-semibold">
                    Price Details
                </div>
                <hr>
                <div class="card-body">
                    <div class=""></div>
                    <div class=""> 

                        <div class="estDel">  
                            <div class="">Total MRP</div>
                            <div class=""></div>
                        </div>
                        <div class="estDel">
                            <div class=""> Discount On MRP</div>
                            <div class=""> </div>
                            
                        </div>
                        <div class="estDel">
                            <div class=""> Convenince Fee </div>
                            <div class="">  </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="card-footer">
                    <div class="d-flex justify-content-between fw-semibold">
                         <div class="">Total Amount</div>
                         <div class="">  </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>