<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">

  <div class="carousel-inner clrgrad">
    <div class="carousel-item active " >
      <div class="text-white text-center" style="height: 14vw;">
        <div class="fs-1 pt-5" style="height: 10vh;"> 
          Best Books 
        </div>
        <div class="mt-3">
          We take care of all your likes and dislikes
        </div>
        <div class="mt-3">
          We offer you the Readers Choice
        </div>
      </div>
    </div>
    <div class="carousel-item " *ngFor="let bitem of Product">
      <div class="row">
        <div class="col-6">
          <div class="text-center">
            <!-- <img src="{{bitem.imgpath}}" class="imgsize" alt="..."> -->
          </div>
        </div>
        <div class="col-6">
          <div class="fs-2 text-white text-uppercase mt-3">
            <!-- {{bitem.productname}} -->
          </div>
          <div class="" style="margin-top: 9rem;">
            <span class="fs-5 text-white"> Ratings </span>
            <i class="bi bi-star-fill text-warning"></i>
            <i class="bi bi-star-fill text-warning"></i>
            <i class="bi bi-star-fill text-warning"></i>
            <i class="bi bi-star-fill text-warning"></i>
          </div>
        </div>
      </div>
    </div>
  </div>


  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div>
        <img src="../../assets/Thinking astrology vector image on VectorStock.jfif" class="img-fluid" alt="" style="width: 26rem;">
      </div>
    </div>
    <div class="col-md-6">
      <div class="mt-4  fs-2 text-uppercase lh-1">
        Reading a good book is like taking a journey...
      </div>
      <div class=" mt-5" style="height:30vh">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus sint quas magni ipsam magnam dolore porro quod. Laudantium voluptate sequi illum molestiae omnis similique aliquam voluptates officia a praesentium sapiente vitae, assumenda suscipit dolores eos perferendis dolorum magnam corporis iusto quas! Fugiat assumenda quod mollitia obcaecati ipsum dolorum nesciunt nulla quia consequuntur tenetur, delectus ipsam eligendi est nam neque? Maiores velit labore perferendis voluptate, nulla, amet adipisci quae autem iusto expedita praesentium, est repellendus modi. Nihil quam quaerat perspiciatis obcaecati temporibus! In expedita earum natus? Illo a hic doloribus velit culpa.
      </div>
      <div>
          <button class="btn btn-primary float-end me-4">
            Click here
          </button>
      </div>
    </div>
  </div>
  <div class="row mt-6">
    <div class="col-md-6">
      <div class="mt-7 fs-2 text-uppercase">
          You can always love reading 
      </div>
      <div class=" mt-5" style="height:35vh">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus sint quas magni ipsam magnam dolore porro quod. Laudantium voluptate sequi illum molestiae omnis similique aliquam voluptates officia a praesentium sapiente vitae, assumenda suscipit dolores eos perferendis dolorum magnam corporis iusto quas! Fugiat assumenda quod mollitia obcaecati ipsum dolorum nesciunt nulla quia consequuntur tenetur, delectus ipsam eligendi est nam neque? Maiores velit labore perferendis voluptate, nulla, amet adipisci quae autem iusto expedita praesentium, est repellendus modi. Nihil quam quaerat perspiciatis obcaecati temporibus! In expedita earum natus? Illo a hic doloribus velit culpa.
      </div>
      <div>
          <button class="btn btn-primary float-end me-4">
            Click here
          </button>
      </div>
    </div>
    <div class="col-md-6">
      <img src="../../assets/Girl reading book poster young woman in pj vector image on VectorStock.jfif" class="img-fluid" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="fs-3">
        Categories
      </div>
    </div>
    <div class="col-md-2 col-sm-4 col-6 mt-4">
      
        <div class="card indivisualcard" [routerLink]="['category',BioBooks]">
          <img class="card-img-top img-fluid" src="https://images.ctfassets.net/3s5io6mnxfqz/458qFb80rsz5N9AySyM7xY/ebba4b16798501d643de2c1165f6c217/AdobeStock_225477140.jpeg">
          <div class="card-footer ">
            <div class="fw-semibold">
              Biogragphy
            </div>
          </div>
        </div>
      
    </div>
    <div class="col-md-2 col-sm-4 col-6 mt-4">
     
        <div class="card indivisualcard" [routerLink]="['category',CookBooks]">
          <img class="card-img-top img-fluid" src="https://media.istockphoto.com/photos/housewife-reading-cooking-book-with-fresh-vegetables-and-kitchen-on-picture-id923488706?b=1&k=20&m=923488706&s=170667a&w=0&h=7ddawXc5QbuHIIicKw53uKp1BKTBcu78CZep4BIDUVc=">
          <div class="card-footer ">
            <div class="fw-semibold">
              Cooking 
            </div>
          </div>
        </div>
   
       
    </div>
    <div class="col-md-2 col-sm-4 col-6 mt-4">

        <div class="card indivisualcard" [routerLink]="['category',ComicBooks]">
          <img class="card-img-top img-fluid" src="https://i.insider.com/5abe8e8172514f30008b46ea?width=750&format=jpeg&auto=webp">
          <div class="card-footer ">
            <div class="fw-semibold">
              Comic 
            </div>
          </div>
        </div>
    

    </div>
    <div class="col-md-2 col-sm-4 col-6 mt-4">
 
        <div class="card indivisualcard" [routerLink]="['category',FanBooks]">
          <img class="card-img-top img-fluid" src="https://images-na.ssl-images-amazon.com/images/I/515iJ1-+IvL._SX322_BO1,204,203,200_.jpg">
  
      
          <div class="card-footer ">
            <div class="fw-semibold">
              Fantasy 
            </div>
          </div>
        </div>

      
    </div>
    <div class="col-md-2 col-sm-4 col-6 mt-4">

        <div class="card indivisualcard" [routerLink]="['category',HisBooks]">
          <img class="card-img-top img-fluid" src="https://www.varsity.co.uk/images/dyn/store/465/0/41136.jpeg">
  
      
          <div class="card-footer ">
            <div class="fw-semibold">
              Historic 
            </div>
          </div>
        </div>

       
    </div>
    <div class="col-md-2 col-sm-4 col-6 mt-4">

        <div class="card indivisualcard" [routerLink]="['category',HorrorBooks]">
          <img class="card-img-top img-fluid" src="https://wallpapercave.com/wp/wp9919254.jpg">

          <div class="card-footer ">
            <div class="fw-semibold">
              Horror 
            </div>
          </div>
        </div>
   

    </div>
    <div class="col-md-2 col-sm-4 col-6 mt-4">

        <div class="card indivisualcard" [routerLink]="['category',MystBooks]">
          <img class="card-img-top img-fluid" src="https://www.wrl.org/wp-content/uploads/2020/02/mystery_crime_detective_magnifying_glass_Sherlock_Holmes-scaled.jpg">

          <div class="card-footer ">
            <div class="fw-semibold">
              Mystery 
            </div>
          </div>
        </div>
  

    </div>
    <div class="col-md-2 col-sm-4 col-6 mt-4">
        
        <div class="card indivisualcard" [routerLink]="['category',NovelBooks]">
          <img class="card-img-top img-fluid" src="https://media.wired.com/photos/5955c3573ff99d6b3a1d165c/master/pass/books.jpg">

          <div class="card-footer ">
            <div class="fw-semibold">
              Novel 
            </div>
          </div>
        </div>
  

    </div>
    <div class="col-md-2 col-sm-4 col-6 mt-4">

        <div class="card indivisualcard" [routerLink]="['category',PoetBooks]">
          <img class="card-img-top img-fluid" src="https://images-stylist.s3-eu-west-1.amazonaws.com/app/uploads/2019/04/21103217/poetry-quotes.jpg">
  
          <div class="card-footer ">
            <div class="fw-semibold">
              Poetry 
            </div>
          </div>
        </div>
   

    </div>
    <div class="col-md-2 col-sm-4 col-6 mt-4">
 
        <div class="card indivisualcard" [routerLink]="['category',RomBooks]">
          <img class="card-img-top img-fluid" src="https://wallpapercave.com/wp/wp5848676.jpg">
  
      
          <div class="card-footer ">
            <div class="fw-semibold">
              Romance 
            </div>
          </div>
        </div>
     

    </div>
    <div class="col-md-2 col-sm-4 col-6 mt-4">
      
        <div class="card indivisualcard"  [routerLink]="['category',SciBooks]">
          <img class="card-img-top img-fluid" src="https://static01.nyt.com/images/2021/05/20/arts/streaming-scifi2/streaming-scifi2-mobileMasterAt3x.jpg">
  
       
          <div class="card-footer ">
            <div class="fw-semibold">
              Sci-Fi 
            </div>
          </div>
        </div>
     

    </div>
    <div class="col-md-2 col-sm-4 col-6 mt-4">
        <div class="card indivisualcard" [routerLink]="['category',ThrilBooks]">
          <img class="card-img-top img-fluid" src="https://st2.depositphotos.com/1177973/6131/i/600/depositphotos_61315439-stock-photo-female-hand-holding-knife-on.jpg">

          <div class="card-footer ">
            <div class="fw-semibold">
              Thrillers  
            </div>
          </div>
        </div>
       
    </div>

  </div>
</div>